@using Fritz.StreamLib.Core
@model List<GitHubContributor>

@foreach (var item in Model)
{
<<<<<<< HEAD
	<text>@item.Author @item.Commits </text>
	}
=======
	<span >@item.Author @item.Commits</span>
}
>>>>>>> 51f144d29a8b42000ebd8d2a641f0517a7aaa6f1
