@model GitHubInformation
@{
	Layout = null;
}

<html>

<head>

	@** Style design by our friend @programwithdan **@
	<style>

		body { margin: 5px 0px; }

		.marquee {
			margin: 0 auto;
			white-space: nowrap;
			overflow: hidden;
			position: absolute;
			padding: 10px 0px;
			color: #000;
			width:100%;
		}

		.marquee > span {
			display: inline-block;
			padding-left: 100%;
			animation: marquee 40s linear infinite;
			background-color: lime; border: 1px solid red;
		}

		.marquee span:nth-child(1) {
  			animation-delay: 0s;
		}

		.marquee span:nth-child(2) {
			animation-delay: 2s;
		}

		.marquee span:nth-child(3) {
			animation-delay: 4s;
		}

		@@keyframes marquee {
			0% {
				transform: translate(0, 0);
			}
			100% {
				transform: translate(-100%, 0);
			}
		}


	</style>

</head>
<body>

<p class="marquee">

	<span class="scrollContent">


		<span id="topWeek">
		<u>Top week:</u>
		@if (Model.TopWeekContributors.Count() == 0) {
			@:No contributors this week
		} else {

			@Html.Partial("_ContributorTickerSegment", Model.TopWeekContributors)

		}
		</span>

		<span id="topMonth">

		<u>Top month:</u>

		@Html.Partial("_ContributorTickerSegment", Model.TopMonthContributors)

		</span>

		<span id="topAllTime">

		<u>Top All Time:</u>

		@Html.Partial("_ContributorTickerSegment", Model.TopEverContributors)

		</span>

	</span>

</p>

<script type="text/javascript">

(function() {
/**
	var target = document.querySelector(".scrollContent");
	var newTicker = document.getElementById("ticker_1").cloneNode(true);
	target.appendChild(newTicker);
**/
}());


</script>

</body>
</html>
