@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Attention</title>
</head>
<body>	
	<script src="~/lib/signalr/signalr-client.js"></script>
	<script src="~/js/attentionhub.js"></script>
	<script>
		var audio = new Audio('@Url.Content(@"~/contents/hey_listen.wav")');
		
		var hub = new AttentionHub();
		hub.onAlertFritz = () => {
			alertFritz();
		}

		function alertFritz() {
			audio.play();
		}

		(function () {
			hub.start();
		})();

	</script>
</body>
</html>
