@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Current Viewers</title>
</head>
<body>

    Total Viewers: @Model

</body>
</html>
