<!-- COMING FROM THE _Footer partial view -->
<footer class="footer">
		<div class="container">
				<span class="text-muted">&copy; @DateTime.Now.Year - Jeff Fritz and Friends</span>
				- <version></version>
		</div>
</footer>