<!DOCTYPE html>

<html>
<head>
		<meta name="viewport" content="width=device-width" />
		<title>Tools for Streamers by Streamers</title>
		@RenderSection("styles", false)
</head>
<body>

	@RenderBody()

	@Html.Partial("_Footer")


@RenderSection("scripts", false)

</body>
</html>
