
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Followers Goal</title>
</head>
<body>

<h1>The Followers Goal</h1>

<p>
This is a simple horizontal meter that fills as you get more followers.  
Use the following URL syntax:
</p>

<code>
/followers/goal/{goal_value}/{caption}
</code>

<dl>
<dt>goal_value</dt>
<dd>The integer value of the goal number of followers</dd>
<dt>caption</dt>
<dd>The caption to display that defines the goal</dd>
</dl>

<h3>Other Parameters</h3>

Other parameters can be passed on the querystring using standard name-value syntax

<dl>
<dt>width</dt>
<dd>The width in pixels of the bar</dd>
</dl>

</body>
</html>
