@page
@model Fritz.StreamTools.Pages.CurrentViewersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentViewers</title>
</head>
<body>

	@foreach (var service in Model.StreamService.ViewerCountByService.OrderByDescending(s => s.service))
	{

		@service.service <text>:</text> <span class="serviceCount" id="@service.service.ToLowerInvariant()Count">@service.count</span>

	}

	Total: <span id="totalCount">@(Model.StreamService.ViewerCountByService.Sum(s => s.count))</span>

		<script src="~/js/signalr-client.js"></script>
		<script src="~/js/streamhub.js"></script>
		<script>
				(function () {

						const reducer = (accumulator, currentValue) => accumulator + parseInt(currentValue.textContent, 10);

						var hub = new StreamHub();

						hub.onViewers = (service, count) => {

								document.getElementById(service + "Count").textContent = count;

								var currentCounts = document.getElementsByClassName("serviceCount");
								var elArray = Array.from(currentCounts);
								document.getElementById("totalCount").textContent = elArray.reduce(reducer, 0);

						}

						hub.start();

				})();
		</script>

</body>
</html>
