@page
@model Fritz.StreamTools.Pages.CurrentViewersModel
@using System.Collections.Generic
@{
	Layout = null;

	var fontIcon = new Dictionary<string, string>
	{
		{"Mixer", "microsoft"},
		{"Fake", "tumblr" }
	};

}

<!DOCTYPE html>

<html>
<head>
		<meta name="viewport" content="width=device-width" />
		<title>CurrentViewers</title>
</head>
<body>

	@foreach (var service in Model.StreamService.ViewerCountByService.OrderByDescending(s => s.service))
	{

		<i class="fab fa-@(fontIcon.ContainsKey(service.service) ? fontIcon[service.service] : service.service.ToLowerInvariant() )"></i> <span class="serviceCount" id="@service.service.ToLowerInvariant()Count">@service.count</span>

	}

	Total: <span id="totalCount">@(Model.StreamService.ViewerCountByService.Sum(s => s.count))</span>

	<script src="~/lib/signalr/signalr-client.js"></script>
	<script src="~/js/streamhub.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script>
		(function () {

			const reducer = (accumulator, currentValue) => accumulator + parseInt(currentValue.textContent, 10);

			var hub = new StreamHub();

			hub.onViewers = (service, count) => {

				document.getElementById(service + "Count").textContent = count;

				var currentCounts = document.getElementsByClassName("serviceCount");
				var elArray = Array.from(currentCounts);
				document.getElementById("totalCount").textContent = elArray.reduce(reducer, 0);

			}

			hub.start("viewers");

		})();
	</script>

</body>
</html>
