@page
@model Fritz.StreamTools.Pages.IndexModel
@{
    var items = Model.Repository.Get();
}
<!DOCTYPE html>
<html>
<head>
    <title>Rundown for the Stream</title>
    <style>
        ul {
            margin-left: 0px;
            padding-left: 0px;
        }

        li {
            list-style-type: none;
            margin-left: 0px;
            padding-left: 0px;
        }

        .glyphicon-check { color: darkgreen}

    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <h2>Today's Stream</h2>

        <ul>
            @foreach (var item in items)
            {
                <li id="@item.ID">
                    <span id="item_@item.ID" class="glyphicon @(!item.IsCompleted ? "glyphicon-unchecked" : "glyphicon-check")" aria-hidden="true"></span>
                    <label>@item.Text</label>
                </li>
            }
        </ul>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
<!--

        $().ready(function () {

            window.setInterval(function () {

                $.ajax({
                    url: "/api/items"
                }).done(function (data) {

                    //console.log("data: " + data);

                    for (var item of data) {

                        var thisItem = document.getElementById("item_" + item.id);
                        if ($(thisItem).hasClass("glyphicon-unchecked") & item.isCompleted) {

                            $(thisItem).removeClass("glyphicon-unchecked");
                            $(thisItem).addClass("glyphicon-check");

                        } else if ($(thisItem).hasClass("glyphicon-check") & !item.isCompleted) {

                            $(thisItem).removeClass("glyphicon-check");
                            $(thisItem).addClass("glyphicon-unchecked");
                        }

                    }


                })

            }, 5000)

        });

//-->
    </script>

</body>
</html>
