@page
@model Fritz.StreamTools.Pages.RundownModel
@{
		var items = Model.Repository.Get();
		var title = Model.Repository.GetTitle();
}
<!DOCTYPE html>
<html>
<head>
    <title>Rundown for the Stream</title>
    <style>
        ul {
            margin-left: 0px;
            padding-left: 0px;
        }

        li {
            list-style-type: none;
            margin-left: 0px;
            padding-left: 0px;
        }

        .glyphicon-check {
					color: darkgreen
        }

    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <h2 id="title">@title</h2>

        <ul id="itemsList">
            @foreach (var item in items)
            {
                <li id="@item.ID">
                    <span id="item_@item.ID" class="glyphicon @(!item.IsCompleted ? "glyphicon-unchecked" : "glyphicon-check")" aria-hidden="true"></span>
                    <label id="item_text_@item.ID">@item.Text</label>
                </li>
            }
        </ul>

    </div>

    <script src="~/lib/jquery.js"></script>
    <script type="text/javascript">
<!--

        $().ready(function () {

            window.setInterval(function () {

                $.ajax({
                    url: "/api/items"
                }).done(function (data) {
									
										var spacing = `
                    `;

									$('#itemsList').children().each(function (index, element) {
										element.remove();
									});

									for (var item of data) {
										var checkUncheck = (item.isCompleted === true) ? "glyphicon-check" : "glyphicon-unchecked";
										var newInputItem = $('<span>', {
											id: 'item_' + item.id,
											class: 'glyphicon ' + checkUncheck,
											'aria-hidden': 'true'
										});

										var newTextItem = $('<label>', {
											id: 'item_text_' + item.id
										}).text(item.text);

										var newItem = $('<li>', {
											id: item.id
										}).append(spacing).append(newInputItem).append(spacing).append(newTextItem).append(spacing);

										$("#itemsList").append(newItem);
										thisItem = newInputItem;
									}
                });

								$.ajax({
										url: "/api/rundown/title"
								}).done(function(data) {
										var title = document.getElementById("title");
										title.innerHTML = data;
								});
            }, 5000);

			});

			

//-->
    </script>

</body>
</html>
