@page
@model Fritz.StreamTools.Pages.SentimentModel
@{
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Sentiment</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
</head>
<body>  
	<div>
		<span id="currentSentiment"></span><i id="trend"></i>
	</div>
	<div id="allSentiment"></div>

	<script src="~/lib/signalr/signalr-client.js"></script>
	<script src="~/js/streamhub.js"></script>
	<script>
		(function () {

			var hub = new StreamHub();
			var sentimentEl = document.getElementById("currentSentiment");
			var allEl = document.getElementById("allSentiment");
			var trend = document.getElementById("trend");

			hub.onSentiment = (instant, oneMinute, fiveMinute, all) => {

				console.log({
					instant: instant,
					oneMinute: oneMinute,
					fiveMinute: fiveMinute,
					all: all
				});

				sentimentEl.textContent = `Current Sentiment: ${(oneMinute * 100).toFixed(1)}`;
				allEl.textContent = `Since start: ${(all * 100).toFixed(1)}`;
				trend.className = (fiveMinute < oneMinute) ? "fas fa-arrow-up" : (fiveMinute != oneMinute) ? "fas fa-arrow-down" : "fas arrows-alt-h";

			}

			hub.start("sentiment");

		})();
	</script>
</body >
</html >
